body div ul li img a {
    box-sizing:border-box;
}

body{
    background-color: #101113;
    color:#fff;
    font-size:20px;
}

#bigbox{
    width:95%;
    border:5px solid #101113;
    margin:0 auto;
}
.dashboard{
    padding:0;
}
.dashboard-Left-Top{
    margin:0;
    padding:0;
}
.dashboard-Left-Top{
    width:100%;
}
.dashboard-Left-Top-list div{
    height:200px;
    border:5px solid #101113;
    background-color: #303030;
}
.dashboard-Left-Top-list>.trendChart{
    height:400px;
}





